html,
body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom left, yellow, blue);
}

.box {
  height: 600px;
  width: 600px;
  background-image: linear-gradient(to bottom right, white, rgb(227, 166, 227));
  padding: 20px;
  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
